.guppy-event {
    margin: 5px;
    padding: 15px;
    background-color: #ffffff;
    box-shadow: 0 1px 0 0 rgba(0,0,0,.1);
    display: block;
}

.guppy-event .guppy-event-body .guppy-event-title {

    white-space: normal;
    overflow: hidden;
    font-size: 15px;
    line-height: 19px;
    max-height: 38px;
    font-weight: 600;
    letter-spacing: 0;
    padding: 0;
    height: 38px;
}

.guppy-event .guppy-event-body .guppy-event-datetime {
    color: #000000;
}

.guppy-event .guppy-event-body .guppy-event-venue{
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    color: #ADB0B6;
    font-size: 12px;
    line-height: 18px;
    height: 18px;
    padding: 5px 0 0;
}

.guppy-event .guppy-event-footer{
    position: relative;
    height: 40px;
    line-height: 40px;
    color: #1ac6ff;
    border-top: 1px solid #EFF2F5;
    padding-left: 15px;
}